// Web Animation API Animation SCSS

// Content:
// - animation
// - a-fade_in
// - a-fade_out
// - a-swipe_left_in
// - a-swipe_left_out
// - a-swipe_right_in
// - a-swipe_right_out
// - a-swipe_down_in
// - a-swipe_down_out
// - a-change_background_color
// - a-restore_background_color
// - a-change_font_size
// - a-restore_font_size
// - a-change_top_position
// - a-restore_top_position
// - a-full_screen_loading

// animation
%animation{
    animation-duration:1s;
    animation-timing-function:ease-out;
}

// fade_in
.a-fade_in{
    @extend %animation;
    animation-name:fade_in;
}
@keyframes fade_in {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

// fade_out
.a-fade_out{
    @extend %animation;
    animation-name:fade_in;
    animation-direction:reverse;
    animation-fill-mode:forwards;
}

// swipe_left_in
.a-swipe_left_in{
    @extend %animation;
    animation-name:swipe_left_in;
}
@keyframes swipe_left_in {
    0% {
        position:relative;
        left:-370px;
        opacity:0;
    }
    100% {
        position:relative;
        left:0px;
        opacity:1;
    }
}

// swipe_left_out
.a-swipe_left_out{
    @extend %animation;
    animation-name:swipe_left_in;
    animation-direction:reverse;
    animation-fill-mode:forwards;
}

// swipe_right_in
.a-swipe_right_in{
    @extend %animation;
    animation-name:swipe_right_in;
}
@keyframes swipe_right_in {
    0% {
        position:relative;
        right:-370px;
        opacity:0;
    }
    100% {
        position:relative;
        right:0px;
        opacity:1;
    }
}

// swipe_right_out
.a-swipe_right_out{
    @extend %animation;
    animation-name:swipe_right_in;
    animation-direction:reverse;
    animation-fill-mode:forwards;
}

// swipe_down_in
.a-swipe_down_in{
    @extend %animation;
    animation-name:swipe_down_in;
}
@keyframes swipe_down_in {
    0% {
        position:relative;
        bottom:-370px;
        opacity:0;
    }
    100% {
        position:relative;
        bottom:0px;
        opacity:1;
    }
}

// swipe_down_out
.a-swipe_down_out{
    @extend %animation;
    animation-name:swipe_down_in;
    animation-direction:reverse;
    animation-fill-mode:forwards;
}

// a-change_background_color
.a-change_background_color{
    @extend %animation;
    animation-name:change_background_color;
    animation-fill-mode:forwards;
    animation-duration:0.5s;
}
@keyframes change_background_color {
    0% {
        background-color:$timeline-year-bg;
    }
    100% {
        background-color:$timeline-brd;
    }
}

// a-restore_background_color
.a-restore_background_color{
    @extend %animation;
    animation-name:change_background_color;
    animation-direction:reverse;
}

// a-change_font_size
.a-change_font_size{
    @extend %animation;
    animation-name:change_font_size;
    animation-fill-mode:forwards;
    animation-duration:0.5s;
}
@keyframes change_font_size {
    0% {
        font-size:24px;
    }
    100% {
        font-size:36px;
    }
}

// a-restore_font_size
.a-restore_font_size{
    @extend %animation;
    animation-name:change_font_size;
    animation-direction:reverse;
}

// a-change_top_position
.a-change_top_position{
    @extend %animation;
    animation-name:change_top_position;
    animation-fill-mode:forwards;
    animation-duration:0.5s;
}
@keyframes change_top_position {
    0% {
        top:-25px;
    }
    100% {
        top:-11px;
    }
}

// a-restore_top_position
.a-restore_top_position{
    @extend %animation;
    animation-name:change_top_position;
    animation-direction:reverse;
}

// a-full_screen_loading
.a-full_screen_loading{
    @extend %animation;
    animation-name:full_screen_loading;
    animation-duration:3s;
    animation-iteration-count:infinite;
}
@keyframes full_screen_loading {
    0% {
        background-color:#586E96;
    }
    25% {
        background-color:#B3BDD0;
    }
    50% {
        background-color:#FA5A5A;
    }
    75% {
        background-color:#B3BDD0;
    }
    100% {
        background-color:#586E96;
    }
}