// Web Animation API Animation SCSS

// Content:
// - animation
// - a-fade_in
// - a-fade_out
// - a-swipe_left_in
// - a-swipe_left_out
// - a-swipe_right_in
// - a-swipe_right_out
// - a-swipe_down_in
// - a-swipe_down_out
// - a-change_background_color
// - a-restore_background_color
// - a-change_color
// - a-restore_color
// - a-change_font_Family
// - a-restore_font_family
// - a-full_screen_loading

// animation
%animation{
    animation-duration:1s;
    animation-timing-function:ease-out;
}

// fade_in
.a-fade_in{
    @extend %animation;
    animation-name:fade_in;
}
@keyframes fade_in {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

// fade_out
.a-fade_out{
    @extend %animation;
    animation-name:fade_in;
    animation-direction:reverse;
    animation-fill-mode:forwards;
}

// swipe_left_in
.a-swipe_left_in{
    @extend %animation;
    animation-name:swipe_left_in;
}
@keyframes swipe_left_in {
    0% {
        margin-left:-30%;
        opacity:0;
    }
    100% {
        margin-left:0;
        opacity:1;
    }
}

// swipe_left_out
.a-swipe_left_out{
    @extend %animation;
    animation-name:swipe_left_in;
    animation-direction:reverse;
    animation-fill-mode:forwards;
}

// swipe_right_in
.a-swipe_right_in{
    @extend %animation;
    animation-name:swipe_right_in;
}
@keyframes swipe_right_in {
    0% {
        margin-right:-30%;
        opacity:0;
    }
    100% {
        margin-right:0;
        opacity:1;
    }
}

// swipe_right_out
.a-swipe_right_out{
    @extend %animation;
    animation-name:swipe_right_in;
    animation-direction:reverse;
    animation-fill-mode:forwards;
}

// swipe_down_in
.a-swipe_down_in{
    @extend %animation;
    animation-name:swipe_down_in;
}
@keyframes swipe_down_in {
    0% {
        bottom:-60%;
        opacity:0;
    }
    100% {
        bottom:0;
        opacity:1;
    }
}

// swipe_down_out
.a-swipe_down_out{
    @extend %animation;
    animation-name:swipe_down_in;
    animation-direction:reverse;
    animation-fill-mode:forwards;
}

// a-change_background_color
.a-change_background_color{
    @extend %animation;
    animation-name:change_background_color;
    animation-fill-mode:forwards;
    animation-duration:0.5s;
}
@keyframes change_background_color {
    0% {
        background-color:$timeline-year-bg;
    }
    100% {
        background-color:$timeline-brd;
    }
}

// a-restore_background_color
.a-restore_background_color{
    @extend %animation;
    animation-name:change_background_color;
    animation-direction:reverse;
}

// a-change_font
.a-change_font{
    @extend %animation;
    animation-name:change_font;
    animation-fill-mode:forwards;
    animation-duration:0.5s;
}
@keyframes change_font {
    0% {
        color:$text;
        font-family:$font-stack-regular;
    }
    100% {
        color:$timeline-brd;
        font-family:$font-stack-semi-bold;
    }
}

// a-restore_font
.a-restore_font{
    @extend %animation;
    animation-name:change_font;
    animation-direction:reverse;
}

// a-full_screen_loading
.a-full_screen_loading{
    @extend %animation;
    animation-name:full_screen_loading;
    animation-duration:3s;
    animation-iteration-count:infinite;
}
@keyframes full_screen_loading {
    0% {
        background-color:#586E96;
    }
    25% {
        background-color:#B3BDD0;
    }
    50% {
        background-color:#FA5A5A;
    }
    75% {
        background-color:#B3BDD0;
    }
    100% {
        background-color:#586E96;
    }
}